*::after,
*::before{
    box-sizing: border-box;
}

body{
    overflow: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 588;
}

.main{
    display: flex;
    min-height: 100vh;
    background-color: blue;
}

.title{
    display: none;
}

#con_dropdown{
    margin-top: -16.5px;
}

.contact_container{
    min-height: 100vh;
    width: 80%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.contact_container input{
    height: 20px;
}

.groups{
    padding-left: 30px;
    width: 100%;
    flex-direction: row;
    display: flex;
    gap: 3rem;
}

#dropdown{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    width: 200px;
}

.message{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.message textarea{
    width: 95%;
    height: 150px;
}

.submit{
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

.submit button{
    border-radius: 5px;
    border: 1px solid black;
    padding: 0.75rem 1.25rem;
}

button{
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}
input:focus{
    outline: none;
}

textarea{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.reach_us{
    min-height: 100vh;
    width: 95%;

    display: flex;
    flex-direction: column;

    background-color: azure;
    text-align: center;
    padding-top: 20%;
    
}

@media (max-width: 786px){
    body{
        overflow-y: visible;
        overflow-x: hidden;
    }

    .title{
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: -50px;
        margin-top: 60px;
    }

    .container{
        display: none;
    }

    .contact_container{
        margin: 0 auto;
        width: 100%;
        align-items: normal;
        gap: 2rem;
        margin-left: -15px;
    }

    .groups{
        flex-direction: column;
        gap: 1.5rem;
    }

    .message{
        width: 90%;
    }

    input{
        border: 1px solid black;
        border-radius: 5px;
        width: 90%;
    }

    .contact_container input{
        height: 30px;
    }

    input::placeholder, textarea::placeholder{
        font-size: larger;
    }

    #con_dropdown{
        margin-top: 0;
    }

    .submit button{
        color: black;
        width: 95%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    select{
        border-radius: 5px;
        height: 40px;
    }

    #dropdown{
        border-bottom: 0;
        border: 1px solid black;
        width: 93%;
    }
    
}