*::after,
*::before{
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: tan;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 588;
}

.title{
    display: none;
}

.contact_container{
    min-height: 100vh;
    width: 65%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}

.contact_container input{
    height: 20px;
}

.groups{
    margin-left: 10px;
    width: 100%;
    flex-direction: row;
    display: flex;
    gap: 3rem;
}

.message{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.message textarea{
    height: 150px;
}

.submit button{
    border-radius: 5px;
    border: 1px solid black;
    justify-self: right;
}

button{
    background-color: transparent;
    cursor: pointer;
    text-align: center;
}

input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}
input:focus{
    outline: none;
}

textarea{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

.container{
    min-height: 100vh;
    width: 35%;
    float: right;
    display: flex;
    justify-content: center;
}

.reach_us{
    text-align: center;
    min-height: 100vh;
    width: 55%;
    background-color: rgb(238, 205, 161);
    padding: 70px;
}

@media (max-width: 786px){
    body{
        overflow-y: visible;
        overflow-x: hidden;
        background-color: white;
    }

    .title{
        width: 100%;
        display: block;
        position:absolute;
        left: 29%;
        top: 4rem;
    }

    .reach_us{
        display: none
    }

    .contact_container{
        margin: 0 auto;
        width: 100%;
        align-items: normal;
        gap: 2rem;
    }

    .groups{
        flex-direction: column;
        gap: 1.5rem;
    }

    .message{
        width: 95%;
    }

    input{
        border: 1px solid black;
        border-radius: 5px;
        width: 90%;
    }

    .contact_container input{
        height: 30px;
    }

    input::placeholder{
        font-size: larger;
    }

    .submit button{
        border-radius: 0;
        width: 95%;
        height: 30px;
        background-color: black;
    }

}