*::after,
*::before{
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: tan;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: 588;
}

.menu{
    display: none;
    z-index: 10000;
}

.slide_menu{
    display: none;
    z-index: 9999;
}

.nav{
    z-index: 2;
    width: calc(100% - 40px);
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.brothers{
    display: inline-block;
    color: black;
    text-decoration: none;
}

.home, .contact, .projects, .services{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.3;
    transition: all 0.65s ease-in-out;
}

.home:hover, .contact:hover, .projects:hover, .services:hover{
    transform: scale(1.1);
    opacity: 1;
}

.contact_container{
    min-height: 100vh;
    width: 65%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}

.contact_container input{
    height: 20px;
}

.groups{
    flex-direction: row;
    display: flex;
    gap: 3rem;
}

.message{
    display: flex;
    flex-direction: column;
    width: 55%;
}

.message textarea{
    height: 150px;
}

.submit{
    position: absolute;
    left: 15%;
    bottom: 20%;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 35%;
}

.submit button{
    width: 100%;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
}

input{
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
}
input:focus{
    outline: none;
}

textarea{
    background-color: transparent;
    outline: 1px solid black;
}

.container{
    min-height: 100vh;
    width: 35%;
    float: right;
    display: flex;
    justify-content: center;
}

.reach_us{
    text-align: center;
    min-height: 100vh;
    width: 55%;
    background-color: rgb(238, 205, 161);
    padding: 70px;
}

@media (max-width: 786px){
    body{
        overflow-y: visible;
        overflow-x: hidden;
    }

    .nav a{
        display: none;
    }

    :root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 5px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

    .menu::before,
    .menu::after,
    .menu input{
        content: "";
        width: var(--bar-width);
        height: var(--bar-height);
        background-color: var(--foreground);
        border-radius: 9999px;
        transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
        transform-origin: left center;
        z-index: 10000;
    }

    .menu input{
        appearance: none;
        padding: 0;
        margin: 0;
        outline: none;
    }

    .menu{
        --x-width: calc(var(--hamburger-height) * 1.41421356237);

        display: flex;
        flex-direction: column;
        gap: var(--hamburger-gap);

        width:max-content;

        position: fixed;
        top: var(--hamburger-margin);
        right: 0px;
        z-index: 9999;
        cursor: pointer;
    }

    .menu:has(input:checked){
        --foreground: white;
    }

    .menu:has(input:focus-visible)::before
    .menu:has(input:focus-visible)::after
    .menu:has input:focus-visible{
        border: 1px solid var(--background);
        box-shadow: 0 0 0 1px var(--foreground);
    }

    .menu:has(input:checked)::before{
        rotate: 45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / -2);
    }

    .menu:has(input:checked)::after{
        rotate: -45deg;
        width: var(--x-width);
        translate: 0 calc(var(--bar-height) / 2);
    }

    .menu input:checked{
        opacity: 0;
        width: 0;
    }

    .slide_menu{
        display: flex;
        position: fixed;
        top: 0px;
        right: 0px;
        transform: translateX(100%);
        transition: transform var(--animation-timing);
        padding: 0.5rem 1rem;
        padding-top: 3rem;
        background-color: var(--foreground);
        
        color: var(--background);
        max-width: 50rem;
        min-height: 100vh;
        z-index: 9998;
    }

    .menu:has(input:checked) + .slide_menu{
        transform: translateX(0);
    }

    .home, .contact, .projects, .services{
        display: none;
    }

    .home:hover, .contact:hover, .projects:hover, .services:hover{
        display: none;
    }

    .home-phone, .contact-phone, .projects-phone, .services-phone{
        display: inline-block;
        color: black;
        text-decoration: none;
        font-size: 15px;
        opacity: 1;
    }

    .reach_us{
        display: none
    }

    .contact_container{
        margin: 0 auto;
        width: 100%;
    }

    .groups{
        padding-top: 20px;
        flex-direction: column;
    }

}